
@font-face {
  font-family: 'SnowtopCaps';
  src: url('/assets/themes/snowcamp/font/SnowtopCaps.ttf') format('truetype');
  font-weight: normal !important;
  font-style: normal;
}

header nav {
  height: 226px;
  background-image: url("/assets/themes/snowcamp/skin/belledonne4.jpg");
  background-color: #393939;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

header nav ul {
  color: #F2F2F2;
  background-color: transparent;
  border: none;
  margin-top: 0;
  margin-bottom: 0px;
  font-family: "Bitstream Vera Sans Mono","Courier";
}

nav ul li a:link {
    color: white;
}

nav ul li a:visited {
    color: #393939;
}

.logo {
  font-family: "SnowtopCaps" !important;
  white-space: nowrap;
  padding-left: 50px;
}

.logo a {
  font-size: 500%;
  text-decoration: none;
  color: #393939;
}

.logo a:hover {
  text-decoration: none;
}

.logo a:link {
  text-decoration: none;
}

.logo a:visited {
  text-decoration: none;
}

.logo a:active {
  text-decoration: none;
}

.sponsors {
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 45px;
}

.sponsors .sponsor-logo {
  height: auto;
  width: 35%;
  max-width: 350px;
  margin: 20px;
}

@media only screen and (min-width: 480px) {
  .logo a {
    text-decoration: none;
  }

  .logo a:hover {
    text-decoration: none;
  }

}
