<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="description" content="SnowCamp.io is a developers conference at Grenoble">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>{{ page.title }}</title>
	<meta name="author" content="{{ site.author.name }}">
	<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css"> -->
	<link href='{{ ASSET_PATH }}/css/combo.css' rel="stylesheet" media="all">
	<link href='{{ ASSET_PATH }}/css/snowcamp.css' rel="stylesheet" media="all">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js"></script>
</head>
<body>

	<header>
		<nav>
			<ul>
			{% assign postsWithMenu = site.posts | where:"lang",page.lang | where:"menu",true %}
			{% for node in postsWithMenu reversed %}
				{% capture id %}{{ node.id | remove:'/' | downcase }}{% endcapture %}
				<li class="p-{{id}}"><a href="#{{id}}">{{node.title}}</a></li>
			{% endfor %}
				<li class="p-cfp"><a id="cfp" href="https://cfp.snowcamp.io">CFP</a></li>
			</ul>
			<div class="logo">
				<img src="{{ ASSET_PATH }}/skin/alpes-snow-full-illustration.png" width="200" height="200"></img><a href="{{ page.url }}">{{ site.title }}</a>
			</div>
		</nav>
	</header>
	{% assign posts = site.posts | where:"lang",page.lang %}
	{% for page in posts reversed %}
		{% capture id %}{{ page.id  | remove:'/' | downcase }}{% endcapture %}
		<section id="{{id}}" class="section p-{{id}}">
			{% if page.icon %}
			<div class="subtlecircle sectiondivider imaged">
				<img src="{{page.icon}}" alt="section icon" />
				<h5 class="icon-title">{{ page.title }}</h5>
			</div>
			{% elsif page.fa-icon %}
			<div class="subtlecircle sectiondivider faicon">
				<span class="fa-stack">
					<i class="fa fa-circle fa-stack-2x"></i>
					<i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
				</span>
				<h5 class="icon-title">{{ page.title }}</h5>
			</div>
			{% endif %}
			<div class="container {{ page.style }}">
				{{ page.content }}
			</div>
		</section>
	{% endfor %}

	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
	<script src="{{ ASSET_PATH }}/js/site.js"></script>
	<script>
	$(document).ready(function() {
		new WOW().init();
	});
	</script>
	<script>
		(function(d, s) {
			var js, fjs = d.getElementsByTagName(s)[0], load = function(url, id) {
			if (d.getElementById(id)) {return;}
			js = d.createElement(s); js.src = url; js.id = id;
			fjs.parentNode.insertBefore(js, fjs);
			};
		load('//platform.twitter.com/widgets.js', 'tweetjs');
		// load('https://apis.google.com/js/plusone.js', 'gplus1js'); // Checkout http://j.mp/ApDgMr for usage html for this is <div class="g-plusone" data-size="medium"></div>
		// load('//connect.facebook.net/en_US/all.js#xfbml=1', 'fbjssdk'); // Checkout http://j.mp/wZw2xR for using open graph protorol html for this is <div class="fb-like" data-href="{{ page.url }}" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="verdana"></div>
		}(document, 'script'));
	</script>
	<script>
	/*! A fix for the iOS orientationchange zoom bug.Script by @scottjehl, rebound by @wilto. MIT License.*/
	(function(j){var i=j.document;if(!i.querySelectorAll){return}var l=i.querySelectorAll("meta[name=viewport]")[0],a=l&&l.getAttribute("content"),h=a+", maximum-scale=1.0",d=a+", maximum-scale=10.0",g=true,c=j.orientation,k=0;if(!l){return}function f(){l.setAttribute("content",d);g=true}function b(){l.setAttribute("content",h);g=false}function e(m){c=Math.abs(j.orientation);k=Math.abs(m.gamma);if(k>8&&c===0){if(g){b()}}else{if(!g){f()}}}j.addEventListener("orientationchange",f,false);j.addEventListener("deviceorientation",e,false)})(this);
	</script>

  {% include JB/analytics %}
</body>
</html>
